html, body, h1, ul, li, p {
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

main {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
}

@media only screen and (max-height: 600px) {
  main {
    left: 40%;
    transform: translate(-40%, -60%);
  }
}

h1 {
  background-image: linear-gradient(to right, #EFE7D3 -50%, #515B54 100%);
  color:transparent;  
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Roboto Slab";
  font-size: 80px;
}

p {
  background-image: linear-gradient(to right, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Clear Sans";
  font-size: 1m;
  text-align: center;
}

code {
  font-family: "Inconsolata";
  font-size: 1em;
}

ul {
  display: block;
  margin: 0 auto;
}

li {
  display: inline-block;
  font-family: "Clear Sans";
  font-size: 1.2em;
  line-height: 1.5;
  list-style: none;
  margin: 0 5px;
}

.subh {
  background-image: linear-gradient(to right, #B22222 0%, #d47e5e 100%);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  transition: .2s;
}

.subh:hover { 
  background-image: linear-gradient(to left, #ff1a00 0%, #ec8c69 100%);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .2s;
}

a {
  color: #515B54;
  text-decoration: none;
  transition: .1s;
}

a:hover {
  color: #7A8B81;
}

.subh a {
  color: $color1;
}

.subh a:hover {
  color:$color9;
}

.searchfield {
  background-image: linear-gradient(to left, #8EC1C1 -70%, #B68A44 100%);
  color: #000000;
  border: none;
  display: block;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 1.1em;
  height: 25px;
  margin: 10px auto;
  padding: 2px 0 2px 2px;
  transition: .2s;
  width: 225px;
  text-align: center;
}

hr { background-image: linear-gradient(to right, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
  -webkit-background-clip: text;
  background-clip: text;
  width: 250px;
}

/* black */
$color0:       #273941;
$color8:       #456472;

/* red */
$color1:       #a66363;
$color9:       #c27171;

/* green */
$color2:       #63a690;
$color10:      #6dc2a3;

/* yellow */
$color3:       #a6a663;
$color11:      #bfc271;

/* blue */
$color4:       #6385a6;
$color12:      #719bc2;

/* orange */
$color5:       #BF9C86;
$color13:      #BF9C86;

/* cyan */
$color6:       #63a69b;
$color14:      #71c2af;

/* white */
$color7:       #c0c5ce;
$color15:      #eff1f5;

