html, body, h1, ul, li, p {
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

main {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
}

@media only screen and (max-height: 600px) {
  main {
    left: 40%;
    transform: translate(-40%, -60%);
  }
}
.test {
  background:red;
  padding: 10px;
  mix-blend-mode: difference;
  }

h1 {
  color: white;
  mix-blend-mode: difference; 
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 80px;
}

p {
  background-clip: text;
  font-family: "Clear Sans";
  font-size: 1m;
  text-align: center;
}

code {
  font-family: "Inconsolata";
  font-size: 1em;
}

ul {
  display: block;
  margin: 0 auto;
}

li {
  display: inline-block;
  font-family: "Clear Sans";
  font-size: 1.2em;
  line-height: 1.5;
  list-style: none;
  margin: 0 5px;
}

.subh {
  background-clip: text;
  font-weight: bold;
  transition: .2s;
}

.subh:hover {
  background-clip: text;
  transition: .2s;
}

a {
  color: #515B54;
  text-decoration: none;
  transition: .1s;
}

a:hover {
  color: #7A8B81;
}

.searchfield {
  color: #000000;
  border: none;
  display: block;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 1.1em;
  height: 25px;
  margin: 10px auto;
  padding: 2px 0 2px 2px;
  transition: .2s;
  width: 225px;
  text-align: center;
}

hr {
  -webkit-background-clip: text;
  background-clip: text;
  width: 250px;
}
